[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
nose = "*"
coverage = "*"
tox = "*"
flake8 = "*"
rope = "*"
jedi = "*"
autopep8 = "*"
sphinx = "*"
twine = "*"
doc8 = "*"

[packages]
six = "*"

[requires]
python_version = "3.7"
